<ul>
    <li>Navigating around the Mac OSX command line environment (Bash Shell)</li>
    <ul>
        <li><a href="Mac_OSX_Shell.pdf">Tutorial</a></li>
    </ul>
    <li>Introduction to Python Programming</li>
    <ul style="padding-left:20px">
        <li>Installing a Python IDE</li>
        <li>Overview of the Python language</li>
        <li>The Python interpreter command line interface</li>
        <li></li>
        <li>Command line arguments</li>
        <li>Scalar data types</li>
        <li>Console input</li>
        <li>Simple input validation</li>
        <li>A simple calculator</li>
    </ul>
</ul>
<a class="btn btn-primary site-code-link" href="https://github.com/ditbjg/bridgingmodule2012/tree/master/unit1">Unit
    Source Code</a>
