<ul>
    <li><a href="/public/BridgingModule2013-Logic_Gates_and_Micro_Processors.pdf">Introduction to Boolean Logic and Boolean Algebra</a></li>
    <li>Simple digital circuits</li>
    <li>Boolean logic in Python</li>
        <ul style="padding-left:30px">
            <li>
                Attempt the problems in the <a href="/public/NumberSystemsandBooleanLogic.pdf">following worksheet</a>
            </li>
        </ul>
    <br>
    </li>
    <li>Anatomy of binary executable files (in Posix systems)</li>
    <li>Programming the Intel x86 Microprocessor with Assembly Language</li>
</ul>