<ul>
    <li>
        <strong>Formative Assessment 1</strong>
        <ul style="padding-left:30px">
            <li>
                Write a command line utility to accept a list temperature values and a flag and perform
                a conversion from celcius to farenheit or from farenheit to celcius, depending on what the
                user specifies in the flag. You will need to support floating point numbers your calculations.
                Try to implement your solution using list comprehensions.
            </li>
            <br>
            <li>
                Write a function to compute the factoral of a number.
                Formally, factorial of N (written N!) is defined as:
                <pre style="padding-left:60px">N * (N - 1) * (N - 2) * ... 1</pre>
                Implement two versions of your solution, one iterative and one recursive.
            </li>
        </ul>
    </li>
    <br>
    <li>
        <strong>Python Programming 2</strong>
        <ul style="padding-left:30px">
            <li>Dictionaries</li>
            <li>Tuples</li>
            <li>Object Oriented Programming</li>
        </ul>
    </li>
    <br>
    <li>
        <strong>Formative Assessment 2</strong>
        <p style="padding-left:30px">
            Review the document <a href="/public/worksheets/Ch2-Fractions & Decimals.pdf">Fractions & Decimals</a>
            and develop a class in Python to represent Rational Numbers and implement the following operations:
            <ul style="padding-left:60px">
                <li>addition</li>
                <li>subtraction</li>
                <li>multiplication</li>
                <li>division</li>
                <li>negation</li>
                <li>equality</li>
            </ul>
        </p>
    </li>
</ul>

