<ul>
    <li>A note on <em>prefix</em>, <em>postfix</em> and <em>infix</em> notations</li>
    <li>The Stack Abstract Data Structure</li>
    <li>Implementing a stack in Python</li>
    <li>Evaluating postfix expressions</li>
    <li>Infix to postfix conversion (Dijkstra's shunting-yard algorithm)</li>
    <li>
        <strong>Formative Assessment 3</strong>
        <ul style="padding-left:30px">
            <li>
                Write an integer expression evaluator (such as you might find in a simple desk calculator).
                Your calculator should support:
                <ul>
                    <li>Operators +, -, *, / and negation with the correct precedence</li>
                    <li>Parenthesised sub-expressions</li>
                </ul>
                You may choose whatever means you like to get user input. Your solution should accept
                expressions in infix notation. <em>Hint:</em> Convert to postfix notation before evaluation.
            </li>
            <br>
        </ul>
    </li>
    <br>
    <li>Introduction to Boolean Logic and Boolean Algebra</li>
</ul>

