<ul>
    <li>Navigating around the <a href="/public/Mac_OSX_Shell.pdf">Mac OSX command line environment</a> (Bash Shell)</li>
    <li>Introduction to Python Programming</li>
    <ul style="padding-left:20px">
        <li>Overview of the Python language</li>
        <li>The Python interpreter command line interface</li>
        <li>Hello, World</li>
        <li>Command line arguments</li>
        <li>Console input</li>
        <li>Installing a Python IDE</li>
        <li>Scalar data types</li>
        <li>Arrays</li>
        <li>Dictionaries</li>
        <li>Conditions and Iteration</li>
        <li>A simple calculator</li>
    </ul>
</ul>
<!--<a class="btn btn-primary site-code-link" href="https://github.com/ditbjg/bridgingmodule2012/tree/master/unit1">Unit
    Source Code</a>-->
