<ul>
    <li>
        <strong>Formative Assessment 1</strong>
        <ul>
            <li style="padding-left:30px">
                <br>Write a command line utility to accept a list temperature values and a flag and perform
                a conversion from celcius to farenheit or from farenheit to celcius, depending on what the
                user specifies in the flag. You will need to support floating point numbers your calculations.
            </li>
            <li style="padding-left:30px">
                <br>Write a function to compute the factoral of a number.
                Formally, factorial of N (written N!) is defined as:
                <pre style="padding-left:60px">N * (N - 1) * (N - 2) * ... 1</pre>
            </li>
        </ul>
    </li>
    <li>
        <strong>Python Programming 2</strong>
        <ul style="padding-left:20px">
            <li>Dictionaries</li>
            <li>Tuples</li>
            <li>Object Oriented Programming</li>
        </ul>
    </li>
    <li>
        <strong>Formative Assessment 2</strong>
        <p>
            Review the document <a href="/public/worksheets/Ch2-Fractions & Decimals.pdf">Fractions & Decimals</a>
            and develop a class in Python to represent Rational Numbers and implement the following operations:
            <ul>
                <li>addition</li>
                <li>subtraction</li>
                <li>multiplication</li>
                <li>division</li>
                <li>negation</li>
                <li>equality</li>
            </ul>
        </p>
    </li>
    <li>
        <ul>
            <li><a href="/public/worksheets/Ch1-Number Systems.pdf">1 - Number Systems</a></li>
            <li><a href="/public/worksheets/Ch2-Fractions & Decimals.pdf">2 - Fractions & Decimals</a></li>
            <li><a href="/public/worksheets/Ch3-Algebra.pdf">3 - Algebra</a></li>
            <li><a href="/public/worksheets/Ch4-Equations.pdf">4 - Equations</a></li>
            <li><a href="/public/worksheets/Ch5-Factorising.pdf">5 - Factorisation</a></li>
            <li><a href="/public/worksheets/Ch6-Graphing Lines.pdf">6 - Graphing Lines</a></li>
            <li><a href="/public/worksheets/Ch7-Quadratic Graphs.pdf">7 - Quadratic Graphs</a></li>
            <li><a href="/public/worksheets/Ch8-Solving Problems.pdf">8 - Solving Problems</a></li>
            <li><a href="/public/worksheets/Ch9-Indices & Logs.pdf">9 - Indices & Logarithms</a></li>
        </ul>
    </li>
</ul>

